<br>
<button {{action 'refreshIdeas'}}>Crefresh!</button>

{{input value=ideaTitle placeholder='title'}} {{input value=ideaDescription placeholder='description'}}
<button {{action 'createIdea'}}>Create idea!</button>

<ul class="border">
{{#each sortedIdeas as |idea|}}
    <li>{{idea-item idea=idea ideaIdForVotes=ideaIdForVotes vote='vote'}}</li>
{{/each}}
</ul>