<div class="row ideas">
    <div class="col-xs-12 col-sm-9">
        <h2>Ideas</h2>
        <ul>
            {{#each sortedIdeas as |idea|}}
                <li>{{idea-item idea=idea ideaIdForVotes=ideaIdForVotes vote='vote'}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="col-xs-12 col-sm-3 newIdea">
        <h3>Contribute an idea</h3>{{currentUser.ideasCount}}/3
        {{#if isMaxIdeas}}
            Maxxed out Bro
            
        {{else}}
            {{input     class="title"       value=ideaTitle       placeholder='Title'}}
            {{textarea  class="description" value=ideaDescription placeholder='Description'}}
            <button class="btn btn-default btn-block" {{action 'createIdea'}}>Add</button>
        {{/if}}
    </div>
</div>
