Ideas! think of em!<br><br>
<ul class="border">
{{#each sortedIdeas as |idea|}}
    <li>{{idea-item idea=idea vote='vote'}}</li>
{{/each}}
</ul>

{{input value=ideaTitle placeholder='title'}} {{input value=ideaDescription placeholder='description'}}
<button {{action 'createIdea'}}>Create idea!</button>
<button {{action 'listVotes'}}>listVotes!</button>


voterinos!
{{#each voterinos as |vote|}}
    <li>{{vote.id}}</li>
{{/each}}
end